html{
  box-sizing:border-box;
}
*,*::before,*::after{
  box-sizing:border-box;
}

h1,h2,h3,h4,h5,body,p,ul{
  margin:0px;
  padding:0px;
}
body{
  position:relative;
  height:100%;
  background-color:white;
}
:root{
  --book-clr:rgb(229, 213, 82);
  --title-clr:rgb(15, 99, 144);
}

span.dark-mode{
  position:absolute;
  content:"";
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.6;
  display:none;
}
/**header**/
header{
  background-color:var(--title-clr);
  color:var(--book-clr);
  justify-content:space-between;
  align-items:center;
  display:flex;
  padding:0.5em 8em;
}
#plus_sign{
  background:none;
  border:none;
  font-size:3em;
  color:white;
}
#plus_sign:hover{
  color:var(--book-clr);
}
#plus_sign:active{
  color:var(--book-clr);
}
/**end of header**/


/** individual book cards**/
.library{
  margin:auto;
  margin-top:2em;
  width:85%;
display:grid;
grid-column-gap:0.8em;
grid-row-gap:0.5em;
grid-template-columns:repeat(3,1fr);
grid-auto-rows:250px;
}

/**javascript class**/
div.info-card{
  display:flex;
  flex-direction:row;
  align-items:center;
  border:1px solid black;
  width:100%;
  background-color:var(--book-clr);
  border-radius:10px;
  border-top-right-radius:10px;
  font-size:1.2rem;
  position:relative;
  box-shadow:2px 3px 4px grey;
}

div.card-left{
  width:80%;
  text-align:center;
  margin:auto;
}
div.card-right{
  width:20%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  position:absolute;
  right:0px;
  top:0px;
}
button#toggle_button{
  background:none;
  border:none;
}
.checkmark{
width:32px;
}

button.remove-card{
  margin-left:auto;
  color:var(--title-clr);
  border:2px solid var(--title-clr);
  font-weight:bold;
  font-size:1.2rem;
}

div.info-card h1{
  color:var(--title-clr);
  font-weight:bold;
  font-size:1.5rem;
}
div.info-card p:nth-of-type(2){
  margin-top:2em;
}

span.page{
  font-weight:bold;
  color:black;
  font-size:1.3rem;
}
span.author{
  font-style:italic;
  color:var(--title-clr);
  font-weight:lighter;
}
button.edit-page-number{
  background:var(--title-clr);
  color:white;
  font-size:1rem;
  padding:0.3em 1em;
  margin-top:1em;
}
button#toggle_button{
  margin-left:auto;
}
/**end of individual book cards**/


/**form element**/
form{
  border:1px solid black;
  width:200px;
  margin:auto;
  position:fixed;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
   left: 50%; /* position the left edge of the element at the middle of the parent */

   transform: translate(-50%, -50%);
   background-color:var(--title-clr);
   color:var(--book-clr);
   font-size:1.1rem;
   z-index:10;
   display:none;
   border-radius:20px;
   padding-top:1em;

}
form p{
  font-weight:bold;
}
.form-item{
  position:relative;
  width:190px;
  margin:0em auto 1em auto;
  padding-left:1em;
}

.form-item p:first-child{
  margin-top:1em;
}
.form-item img{
  position:absolute;
  top:25px;
  right:20px;
  visibility:hidden;
}
.form-item #error_message{
  display:none;
}
.form-item.error #error_message{
  display:inline;
  color:var(--book-clr);
  font-size:0.9rem;
}


form.new-one{
  display:none;
}
form.new-one.open{
  display:block;
}

.form-item.error #error_icon{
  visibility:visible;
}

.form-item.error input{
  border:2px solid red;
  padding:0.3em;
}

button#close_form{
  background:none;
  border:2px solid var(--book-clr);
  border-radius:50%;
  font-size:1.3rem;
  color:var(--book-clr);
  margin-left:0.1em;
  margin-top:0.1em;
  position:absolute;
  right:2px;
  top:3px;

}
button.close-edit-page{
  background:none;
  border:1px solid black;
  border-radius:50%;
  font-size:1rem;
}

button#close_form:active{
  color:var(--book-clr);
}
input[type="submit"]{
  background-color:var(--book-clr);
  border:none;
  color:black;
  padding:0.2em 0.5em;
  font-size:0.9rem;
}
/**end of form element**/


/**second form**/
form.new-one{
  padding-top:1em;
  padding-bottom:1em;
  width:30%;
}
form.new-one p{
  text-align:center;
  font-size:1.5rem;
}
div.edit-page-container{
  display:flex;
  width:100%;
  margin-top:0.5em;
  justify-content:center;
  height:30px;
}
form.new-one #change_page_submit{
  margin-left:0.5em;
}
button.close-edit-page{
  position:absolute;
  right:5px;
  top:2px;
  color:var(--book-clr);
  border-color:var(--book-clr);
}
form.new-one .error_message{
  display:none;
}
form.new-one.error .error_message{
  display:block;
  color:var(--book-clr);
  font-size:0.9rem;
}
form.new-one input{
display:block;
width:80px;
}
